#h1{
    color:blue;
    } 
   .heading{ 
    color:darkblue; 
    font-size: larger; 
    font-family: Georgia, 'Times New Roman', Times, serif; 
    font-style: italic; 
   } 
    p{ 
    font-size: large; 
   } 
   body{ 
    background-color:darkgray; 
    } 
    .paragraphs{ 
    font-weight: 600;
    font-size: larger;
    color:darkblue; 
    font-style: italic; 
    font-family: Georgia, 'Times New Roman', Times, serif; 
   }
